<main>
    <div class="left">
      <h1>Learn to code by watching others</h1>
      <p>See how experienced developers solve problems in real-time.<br>
        Watching scripted tutorials is great,
        but understanding how<br> developers think is invaluable.
      </p>
    </div>
    <div class="right">
      <div class="notification">
        <p><span>Try it free 7 days</span> then $20/mo. thereafter</p>
      </div>
      <form method="post" (submit)="SubmitForm($event)">
        <div class="input-group">
          <input type="text" placeholder="First Name" id="fname">
          <span class="error"></span>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Last Name" id="lname">
          <span class="error"></span>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Email Address" id="email">
          <span class="error"></span>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Password" id="pass">
          <span class="error"></span>
        </div>
        <button appSubmitHover type="submit">CLAIM YOUR FREE TRIAL</button>
        <p>By clicking the button, you are agreeing to our <span class="tos">Terms and Services</span></p>
      </form>
    </div>
</main>

